
    <div class="row tile_count">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ranking</h2>
                    <div class="clearfix"></div>

                    <%= will_paginate @members %>

                    <table id="mytable" , class="table table-striped table-bordered">
                        <div class="title_right">
                            <div class=" form-group pull-right top_search">
                                <div class="input-group">
                                    <input class="form-control" id="inputSuccess5" onkeyup="searchmembers(this.value);" class="form-control" placeholder="Procurar por nome">
                                </div>
                            </div>
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Avatar</th>
                            <th>Pontuação</th>
                            <th>Nome</th>

                            <!--<th>Contato</th>-->
                            <th>Cargo</th>

                        </tr>
                    </thead>
                    <tbody id="tablerowmembers">
                        <% @members.each_with_index do |member, index| %>
                        <tr>
                            <td><%= index +1 %></td>
                            <!-- <td><%= image_tag 'simao', class:'img-circle profile_img listable'%> </td> -->
                            <td><%= image_tag 'simao', class:'circular'%>
                            </td>
                            <td><%= member.name%></td>
                            <td><%= member.score%></td>
                            <td><%= member.role.name%></td>
                            <!--<td><%#= members.phone_number%></td>-->
                        </tr>
                        <%end%>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
