<div class="right_col" role="main">

    <div class="row tile_count">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Gerenciamento de Atividades</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <%= will_paginate @activities %>
                    <table id="mytable" , class="table table-striped table-bordered">
                        <div class="title_right">
                            <div class=" form-group pull-right top_search">
                                <div class="input-group">
                                    <input class="form-control" id="inputSuccess5" onkeyup="searchactivities(this.value);" class="form-control" placeholder="Procurar por nome">
                                </div>
                            </div>
                        </div>
                    </div>
                    <thead>
                        <tr>

                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Status</th>
                            <th>Cliente</th>
                            <th>Tipo de Atividade</th>
                            <th>Tecnologias</th>
                            <th>Membros</th>
                            <th>Configurações</th>
                        </tr>
                    </thead>
                    <tbody id="tablerowactivities">
                        <% @activities.each do |activity| %>
                        <tr>

                            <!-- <td><%= image_tag 'simao', class:'img-circle profile_img listable'%> </td> -->
                            <td><%= activity.name%></td>
                            <td><%= activity.description%></td>

                            <td><%= activity.status%></td>
                            <td><%= activity.client%></td>
                            <td><%= activity.activity_type%></td>
                            <td>
                              <% activity.tecnologies.each do |tecnology|%>

                              <%= tecnology.name%><br>
                              <%end%></td>
                            <td><%= link_to 'Membros'%></td>
                            <td colspan="3"><%= link_to  edit_activity_path(activity) do %>
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true" style="margin-left: 5px"></span>
                                <% end %>
                                <i style="margin-left:3px"></i>
                                <%= link_to activity, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-left: 20px"></span>
                                <% end %>
                            </td>
                        </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<%= will_paginate @users %>
