<!DOCTYPE html>
<html>
    <head>
        <title>GTiSystem</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">

                <%= render 'member_dashboard/shared/header' %>
                <%= yield %>
                <%= render 'member_dashboard/shared/footer' %>
            </div>
        </div>
    </body>
</html>
